.container {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.content {
    display: flex;
    width: 540px;
}

mat-card {
    display: flex;
    flex-flow: column nowrap;
}

mat-card-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

mat-card-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 10px 10px 10px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 10px;
}

.column {
    padding-top: 10px;
}

.row mat-form-field {
    min-width: 240px;
}

.column mat-form-field {
    min-width: 500px;
}

.button {
    display: flex;
    justify-content: flex-end;
}