.container {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.content {
    display: flex;
    width: 540px;
}

mat-card {
    display: flex;
    flex-flow: column nowrap;
}

mat-card-title {
    display: flex;
    justify-content: center;
    padding: 10px;
}

mat-card-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 10px 10px 10px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 10px;
}

.facilities {
    flex-flow: row wrap;
}

mat-checkbox {
    width: 155px;
    padding-right: 10px;
}

.column {
    padding-top: 10px;
}

.row mat-form-field {
    min-width: 240px;
}

.column mat-form-field {
    min-width: 500px;
}

.images-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
}

.row2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 10px;
}

.addImages {
    display: flex;
    flex-flow: column;
}

.file-input {
    display: none;
}

.removeButton {
    background-color: #3f51b5;
    color: white;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 1px;
    margin-top: 3px;
}

.submitButton {
    display: flex;
    justify-content: flex-end;
}