.container {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: flex-end;
}